@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}

.table-class{
          position: absolute;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
           .table-class{
                top: 50%;
                width: 90vw;
                
           }
}
.center_section{
position: relative;
          top: 10vh;
          left: 50%;
          transform: translate(-50%, -50%);
}